.align-items-center {
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
}

.col {
  flex-direction: column;
}

.nav {
  width: 100%;
  height: 80px;
  position: absolute;
}

.nav-logo {
  background-color: #f42;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#c09),
    color-stop(85%, #f42)
  );
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  height: 100%;
  padding: 16px 20px;
  width: 106px;
  will-change: height;
  display: flex;
  justify-content: center;
}

.nav-sections li {
  display: inline;
}

.nav-sections-section {
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: block;
  height: 48px;
  line-height: 1;
  padding: 18px 10px 0;
  font-size: 0.89rem;
}

.nav-sections-section:hover {
  color: #131313;
}

.nav-tnw {
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  max-height: 32px;
  position: relative;
  z-index: 2;
}

.nav-tnw li {
  display: inline;
  color: white;
  margin-left: 20px;
}

.text-clock {
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #f42;
  letter-spacing: 0;
}

#logo {
  height: 16px;
}
